@{
    ViewBag.Title = "Velg løp";
}
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.min.js")" type="text/javascript"></script> 
<script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Tools.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var btnChangeEvent = $("#btnChangeEvent");
        var ddlEvents = $("#ddlEvents");

        btnChangeEvent.click(function () {
            var url = "/Results/SelectRace/?eventId=" + ddlEvents.val();
            document.location = url;
        });
    });
</script>
<div class="topmenubar">
    <center>
        | @Html.ActionLink("HJEM", "Index", "Home", null, new { @class = "topmenulink" }) |
    </center>
</div>
<div class="contentmargin">
    <h2>
        Velg stevne</h2>
    <div class="containter">
        <div class="row">
            <div class="left">
                <div class="editor-label" style="vertical-align: top">
                    <b>@Html.Label("lblEvent", "Velg stevne:")</b></div>
            </div>
            <div class="row">
                <div class="left">
                    <br />
                    @Html.DropDownList("ddlEvents", new SelectList(ViewBag.Events, "EventId", "Name"), "Velg stevne...")
                    <input type="button" id="btnChangeEvent" class="btnGo" value=" " />
                </div>
            </div>
        </div>
    </div>
</div>
