@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Tools.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var imgAthlete = $("#imgAthlete");
        var imgRace = $("#imgRace");
        var imgCheckpoint = $("#imgCheckpoint");
        var imgEvent = $("#imgEvent");

        imgEvent.click(function () {
            var url = "/Event/Create/";
            document.location = url;
        });
        imgRace.click(function () {
            var url = "/Race/";
            document.location = url;
        });
        imgCheckpoint.click(function () {
            var url = "/Checkpoint/Create/";
            document.location = url;
        });
        imgAthlete.click(function () {
            var url = "/Athlete/";
            document.location = url;
        });
    });
</script>
<div class="topmenubar">
    <center>
        | @Html.ActionLink("HJEM", "Index", "Home", null, new { @class = "topmenulink" }) | 
    </center>
</div>
<div class="contentmargin">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img src="../../Content/images/Event.jpg" class="linkimage" id="imgEvent" alt="Opprett event" />
                        </td>
                        <td>
                            <img src="../../Content/images/race01.jpg" class="linkimage" id="imgRace" alt="Opprett løp" />
                        </td>
                        <td>
                            <img src="../../Content/images/athlete01.jpg" class="linkimage" id="imgAthlete" alt="Opprett utøver" />
                        </td>
                        <td>
                            <img src="../../Content/images/checkpoint01.jpg" class="linkimage" id="imgCheckpoint"
                                alt="Opprett passeringspunkt" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
