@model ITimeU.Models.CheckpointOrderModel

@{
    ViewBag.Title = "CheckpointOrder";
}
<script language="javascript" type="text/javascript">
    var checkpointOrders = [];

</script>

<h2>CheckpointOrder</h2>

@*@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true) *@
    <fieldset> 
        <legend>CheckpointOrder</legend> 
 
        <div class="editor-label"> 
            @Html.Label("lblCheckpoint", "Checkpoint") 
        </div> 
        <div class="editor-field"> 
            @Html.DropDownList("ddCheckpoint", new SelectList(ViewBag.Checkpoints, "CheckpointID", "Name"))
        </div> 

        <div class="editor-label"> 
            @Html.Label("lblStartingNumber", "Starting number") 
        </div> 
        <div class="editor-field">
            @Html.TextBox("txtStartingNumber")
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#txtStartingNumber').keypress(function (e) {
                        if (e.keyCode == 13) {
                            $.get("/CheckpointOrder/AddStartingNumber/?checkpointID=" + $('#ddCheckpoint').val() + "&startingNumber=" + $('#txtStartingNumber').val());
                            var tmpOrder = checkpointOrders;
                            checkpointOrders = '<option value="' + $('#txtStartingNumber').val() + '">' + $('#txtStartingNumber').val() + '</option>' + tmpOrder;
                            $('#lstCheckpointOrders').html(checkpointOrders);
                        }
                    });
                }); 
            </script>
        </div> 

        <div>
            @Html.ListBox("lstCheckpointOrders", Model.CheckpointOrders())
        </div>

    </fieldset>
@*}*@