@model IEnumerable<ITimeU.Models.CheckpointModel>
@{
    ViewBag.Title = "List";
}
<div class="topmenubar">
    <center>
        | @Html.ActionLink("HJEM", "Index", "Home", null, new { @class = "topmenulink" })
        | @Html.ActionLink("ADMIN", "Index", "Admin", null, new { @class = "topmenulink" })
        |
    </center>
</div>
<div class="contentmargin">
    <h2>
        Passeringspunkt</h2>
    <p>
        @Html.ActionLink("Legg til passeringspunkt", "Create")
    </p>
    <table>
        <tr>
            <th>
                Passeringspunkt
            </th>
            <th>
                Løp
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Race.Name
                </td>
                <td>
                    @Html.ActionLink("Slett", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
