@model List<ITimeU.Models.AthleteModel>
@{
    ViewBag.Title = "Importer atleter";
}
<h2>
    Importer deltakere fra FriRes</h2>
@{ Html.BeginForm("ImportFromFriRes", "ImportAthletes", FormMethod.Post, new { enctype = "multipart/form-data"} ); }
<div id="ImportAthletes">
    <p>Velg database for import av deltakere fra FriRes:</p>
    <input type="file" name="file" value="Velg database" style="width: 300px" />
    <input type="submit" id="btnImportFromDatabase" value="Importer deltakere" class="btnRegular"
        style="width: 150px" />
</div>
@{ Html.EndForm(); }

@if (ViewBag.Error != null)
{
    <p class="input-validation-error">@ViewBag.Error</p>
}

<div id="ListImportedAthletes">
    @if (ViewBag.Athletes != null)
    {
        <h4>Deltakere funnet databasefil:</h4>
        <table>
            <tr>
                <th>
                    Fornavn
                </th>
                <th>
                    Etternavn
                </th>
                <th>Klasse</th>
                <th>Klubb</th>
                <th>Fødselsår</th>
                <th>Startnummer</th>
            </tr>
            @foreach (ITimeU.Models.AthleteModel athlete in ViewBag.Athletes)
            {
                <tr>
                    <td>
                        @athlete.FirstName
                    </td>
                    <td>
                        @athlete.LastName
                    </td>
                    <td>@athlete.AthleteClass</td>
                    <td>@athlete.Club</td>
                    <td>@athlete.Birthday</td>
                    <td>@athlete.StartNumber</td>
                </tr>
            }
        </table>
    }
</div>
<p></p>
<div id="SaveImportedAthletes">
    <input type="button" id="btnSaveImportedAthletesToITimeU" value="Lagre deltakere til ITimeU"
        class="btnRegular" style="width: 175px" />
</div>
