@model ITimeU.Models.StartRaceViewModel
@{
    ViewBag.Title = "ComputerSetup";
}
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.min.js")" type="text/javascript"></script> 
<script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Tools.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var img1pc = $("#img1pc");
        var img2pc = $("#img2pc");
        var imgSpeaker = $("#imgSpeaker");
        var hdRaceid = $("#hdRaceid");


        img1pc.click(function () {
            var url = "/TimeStartnumber/Index/?raceId=" + hdRaceid.val();
            document.location = url;
        });

        img2pc.click(function () {
            var url = "/StartRace/DualPcSetup/?raceId=" + hdRaceid.val();
            document.location = url;
        });

        imgSpeaker.click(function () {
            var url = "/Timer/Speaker/" + hdRaceid.val();
            document.location = url;
        });

    });
</script>
<div class="topmenubar">
    <center>
        | @Html.ActionLink("HJEM", "Index", "Home", new { @class = "topmenulink" }) |
    </center>
</div>
<div class="contentmargin">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                                <img src="../../Content/images/1pc.jpg" class="linkimage" id="img1pc" alt="En pc oppsett" />
                        </td>
                        <td>
                                <img src="../../Content/images/2pc.jpg" class="linkimage" id="img2pc" alt="To pc oppsett" />
                        </td>
                                                <td>
                                <img src="../../Content/images/Speaker200.jpg" class="linkimage" id="imgSpeaker" alt="Speaker" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    @Html.Hidden("hdRaceid", Model.RaceId)
</div>

