@model ITimeU.Models.StartRaceViewModel
@{
    ViewBag.Title = "ComputerSetup";
}
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Tools.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var img1pc = $("#img1pc");
        var img2pc = $("#img2pc");
        var imgSpeaker = $("#imgSpeaker");
        var imgAthletes = $("#imgAthletes");
        var hdRaceid = $("#hdRaceid");


        img1pc.click(function () {
            var url = "/TimeStartnumber/Index/?raceId=" + hdRaceid.val();
            document.location = url;
        });

        img2pc.click(function () {
            var url = "/StartRace/DualPcSetup/?raceId=" + hdRaceid.val();
            document.location = url;
        });

        imgAthletes.click(function () {
            var url = "/Athlete/AthletesForRace/?raceId=" + hdRaceid.val();
            document.location = url;
        });

        imgSpeaker.click(function () {
            var url = "/Timer/Speaker/" + hdRaceid.val();
            document.location = url;
        });

        $("img").hover(
            function () {
                this.src = this.src.replace("_off", "_on");
            },
            function () {
                this.src = this.src.replace("_on", "_off");
            }
        );
    });
</script>
<div class="topmenubar">
    <center>
        | @Html.ActionLink("HJEM", "Index", "Home", null, new { @class = "topmenulink" })
        |
    </center>
</div>
<div class="container">
    <div class="background">
        <div class="row">
            <div class="menubg4">
                <img src="../../Content/images/1pc_off.png" id="img1pc" alt="1 pc" class="logo" /><img
                    id="img2pc" src="../../Content/images/2pc_off.png" alt="2 pc" class="logo" /><img
                        id="imgSpeaker" src="../../Content/images/speaker_off.png" alt="Speaker" class="logo" /><img
                            id="imgAthletes" src="../../Content/images/startliste_off.png" alt="Startliste"
                            class="logo" />
            </div>
        </div>
    </div>
    @Html.Hidden("hdRaceid", Model.RaceId)
</div>
