@{
    ViewBag.Title = "Velg løp";
}
<link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui-1.8.10.custom.css")">
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.10.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.min.js")" type="text/javascript"></script> 
<script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Tools.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var btnChangeEvent = $("#btnChangeEvent");
        var ddlEvents = $("#ddlEvents");

        var ev = ddlEvents.val();
        if (ev == undefined) {
            $("#dialog:ui-dialog").dialog("destroy");

            $("#dialog-message").dialog({
                modal: true,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                        document.location = "/Event/Create/";
                    }
                }
            });
        }

        btnChangeEvent.click(function () {
            if (ddlEvents.val() == "") {
                alert("Velg stevne.");
            }
            else {
                var url = "/StartRace/SelectRace/?eventId=" + ddlEvents.val();
                document.location = url;
            }
        });
    });
</script>
<div class="topmenubar">
    <center>
        | @Html.ActionLink("HJEM", "Index", "Home", null, new { @class = "topmenulink" }) |
    </center>
</div>
<div class="contentmargin">
    <h2>
        Velg stevne</h2>
    <div class="containter">
        <div class="row">
            <div class="left">
                <div class="editor-label" style="vertical-align: top">
                    <b>@Html.Label("lblEvent", "Velg stevne:")</b></div>
            </div>
            <div class="row">
                <div class="left">
                    <br />
                    @Html.DropDownList("ddlEvents", new SelectList(ViewBag.Events, "EventId", "Name"))
                    <input type="button" id="btnChangeEvent" class="btnGo" value=" " />
                </div>
            </div>
            <div class="row">
                <div class="left">
                    @Html.ActionLink("Opprett nytt stevne", "Create", "Event")
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog-message" title="Manglende stevner" style="display: none">
    <p>
        Det har ikke blitt opprettet et stevne
    </p>
    <p>
        Du må opprette nytt stevne
    </p>
</div>