@model ITimeU.Models.TimerModel
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui-1.8.10.custom.css")">
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.10.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Stopwatch.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Tools.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TimeFormatFactory.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var btnDelete = $("#btnDelete");
        var btnIntermediate = $("#btnIntermediate");
        var btnUpHour = $("#btnUpHour");
        var btnUpMin = $("#btnUpMin");
        var btnUpSek = $("#btnUpSek");
        var btnUpMS = $("#btnUpMS");
        var btnDownHour = $("#btnDownHour");
        var btnDownMin = $("#btnDownMin");
        var btnDownSek = $("#btnDownSek");
        var btnDownMS = $("#btnDownMS");
        var btnChangeCP = $("#btnChangeCP");
        var btnStart = $("#btnStart");
        var btnEdit = $("#btnEdit");
        var ddlCheckpoints = $("#ddlCheckpoints");
        var lblTimer = $("#lblRunningTimer");
        var listIntermediate = $("#listIntermediate");
        var tbEditHour = $("#tbEditHour");
        var tbEditMin = $("#tbEditMin");
        var tbEditSek = $("#tbEditSek");
        var tbEditMSek = $("#tbEditMSek");
        var initialRuntimeId;
        var timer;
        var timeFormatFactory = new TimeFormatFactory();
        var startBtnText = "Start";
        var stopBtnText = "Stopp";
        var restartBtnText = "Nullstill";
        var startedruntime = 0;

        var urlupdate = "/Timer/GetStartruntime/";
        $.get(urlupdate, function (data) {
            startedruntime = parseInt(data, 10);
            if (startedruntime == 0) {
                btnStart.val(startBtnText);
            }
            else {
                btnStart.val(stopBtnText);
                timer.startStop();
            }
        });

        timer = new Stopwatch(function (runtime) {
            runtime = runtime + startedruntime;
            var displayText = timeFormatFactory.MSSDFormat(runtime);
            lblTimer.html(displayText);
        });
        timer.doDisplay();

        var cp = ddlCheckpoints.val();
        if (cp == undefined) {
            $("#dialog:ui-dialog").dialog("destroy");

            $("#dialog-message").dialog({
                modal: true,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                        document.location = "/Checkpoint/Create/";
                    }
                }
            });
        }


        $.post("/Timer/ChangeCheckpoint/?checkpointid=" + ddlCheckpoints.val(), function (data) {
            listIntermediate.html(data);
        });

        btnStart.click(function () {
            if (btnStart.val() == restartBtnText) {
                $("#dialog:ui-dialog").dialog("destroy");

                $("#dialog-reset").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "Nullstill": function () {
                            btnStart.val(startBtnText);
                            if (btnIntermediate) {
                                Tools.enable(btnIntermediate);
                            }
                            url = "/Timer/ResetRace/?raceid=" + $("#hdRaceid").val();
                            $.post(url, function (data) {
                                listIntermediate.html(data);
                            });
                            startedruntime = 0;
                            timer.resetLap();
                            $(this).dialog("close");
                        },
                        "Avbryt": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            }
            else if (btnStart.val() == startBtnText) {
                timer.startStop();
                btnStart.val(stopBtnText);
                if (btnIntermediate) {
                    Tools.enable(btnIntermediate);
                }
                $.post("/Timer/Start/");
            }
            else {
                $("#dialog:ui-dialog").dialog("destroy");

                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "Stopp": function () {
                            timer.startStop();
                            $(this).dialog("close");
                            $.post("/Timer/Stop/");
                            btnStart.val(restartBtnText);
                            if (btnIntermediate) {
                                Tools.disable(btnIntermediate);
                            }
                        },
                        "Avbryt": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            }
        });

        btnIntermediate.click(function () {
            timer.addIntermediate(function (runtime) {
                runtime = runtime + startedruntime;
                url = "/Timer/SaveRuntime/?runtime=" + runtime + "&checkpointid=" + ddlCheckpoints.val();
                $.get(url, function (data) {
                    listIntermediate.html(data);
                });
            });
        });

        btnEdit.click(function () {
            url = "/Timer/EditRuntime/?orginalruntimeid=" + initialRuntimeId + "&hour=" + tbEditHour.val() + "&min=" + tbEditMin.val() + "&sek=" + tbEditSek.val() + "&msek=" + tbEditMSek.val();
            $.get(url, function (data) {
                listIntermediate.html(data);
            });
            ResetEditFields();
        });

        btnUpHour.click(function () {
            var time = parse(tbEditHour.val(), 24, true);
            tbEditHour.val(time);
        });

        btnUpMin.click(function () {
            var time = parse(tbEditMin.val(), 60, true);
            tbEditMin.val(time);
        });

        btnUpSek.click(function () {
            var time = parse(tbEditSek.val(), 60, true);
            tbEditSek.val(time);
        });

        btnUpMS.click(function () {
            var time = parse(tbEditMSek.val(), 10, true);
            tbEditMSek.val(time);
        });

        btnDownHour.click(function () {
            var time = parse(tbEditHour.val(), 24, false);
            tbEditHour.val(time);
        });

        btnDownMin.click(function () {
            var time = parse(tbEditMin.val(), 60, false);
            tbEditMin.val(time);
        });

        btnDownSek.click(function () {
            var time = parse(tbEditSek.val(), 60, false);
            tbEditSek.val(time);
        });

        btnDownMS.click(function () {
            var time = parse(tbEditMSek.val(), 10, false);
            tbEditMSek.val(time);
        });

        btnDelete.click(function () {
            url = "/Timer/DeleteRuntime/?runtimeid=" + initialRuntimeId;
            $.get(url, function (data) {
                listIntermediate.html(data);
            });
            ResetEditFields();
            DisableControls();
        });

        listIntermediate.change(function () {
            var strh = "";
            var strm = "";
            var strs = "";
            var strms = "";
            var strid = "";
            $("#listIntermediate :selected").each(function () {
                strid = $(this).val();
                strh = $(this).text().substring(0, 1);
                strm = $(this).text().substring(2, 4);
                strs = $(this).text().substring(5, 7);
                strms = $(this).text().substring(8, 9);
            });
            initialRuntimeId = strid;
            tbEditHour.val(strh);
            tbEditMin.val(strm);
            tbEditSek.val(strs);
            tbEditMSek.val(strms);
            EnableControls();
        });

        btnChangeCP.click(function () {
            $.post("/Timer/ChangeCheckpoint/?checkpointid=" + ddlCheckpoints.val(), function (data) {
                listIntermediate.html(data);
            });
        });
    });

    function DisableControls() {
        $("#btnEdit").attr('disabled', 'disabled');
        $("#btnDelete").attr('disabled', 'disabled');
        $("#btnUpHour").attr('disabled', 'disabled');
        $("#btnUpMin").attr('disabled', 'disabled');
        $("#btnUpSek").attr('disabled', 'disabled');
        $("#btnUpMS").attr('disabled', 'disabled');
        $("#btnDownHour").attr('disabled', 'disabled');
        $("#btnDownMin").attr('disabled', 'disabled');
        $("#btnDownSek").attr('disabled', 'disabled');
        $("#btnDownMS").attr('disabled', 'disabled');
    }

    function EnableControls() {
        $("#btnEdit").removeAttr('disabled');
        $("#btnDelete").removeAttr('disabled');
        $("#btnUpHour").removeAttr('disabled');
        $("#btnUpMin").removeAttr('disabled');
        $("#btnUpSek").removeAttr('disabled');
        $("#btnUpMS").removeAttr('disabled');
        $("#btnDownHour").removeAttr('disabled');
        $("#btnDownMin").removeAttr('disabled');
        $("#btnDownSek").removeAttr('disabled');
        $("#btnDownMS").removeAttr('disabled');
    }

    function ResetEditFields() {
        $("#tbEditHour").val("");
        $("#tbEditMin").val("");
        $("#tbEditSek").val("");
        $("#tbEditMSek").val("");
    }

    function parse(integer, modulus, add) {
        var time = parseInt(integer, 10);
        if (add) {
            time = time + 1;
            time = time % modulus;
        }
        else {
            time = time - 1;
            if (time == -1) {
                time = modulus - 1;
            }
        }
        if (time < 10 && modulus != 10 && modulus != 24)
            time = "0" + time;
        return time;

        $(function () {
            $("#dialog:ui-dialog").dialog("destroy");

            $("#dialog-confirm").dialog({
                resizable: false,
                height: 140,
                modal: true,
                buttons: {
                    "Delete all items": function () {
                        $(this).dialog("close");
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    }

</script>
<div class="topmenubar">
    <center>
        | @Html.ActionLink("HJEM", "Index", "Home", null, new { @class = "topmenulink" })
        | @Html.ActionLink("TILBAKE", "DualPcSetup", "StartRace", new { raceid = ViewBag.RaceId }, new { @class = "topmenulink" })
        |
    </center>
</div>
<div class="contentmargin">
    <div class="container">
        <div class="row">
            <div class="left">
                <h2>@ViewBag.RaceName</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="left">
                <div class="editor-label" style="vertical-align: top">
                    <b>@Html.Label("lblCheckpoint", "Passeringspunkt:")</b>
                </div>
            </div>
            <div class="middle">
                <br />
                @Html.DropDownList("ddlCheckpoints", new SelectList(ViewBag.Checkpoints, "Id", "Name"))
                <input type="button" id="btnChangeCP" class="btnGo" value=" " />
            </div>
        </div>
        <div class="row">
            <div class="left">
                <span id="lblRunningTimer" class="timer"></span>
            </div>
            <div class="right">
                <input type="button" id="btnStart" value="Start" class="btnRegular" style="width: 100px" />
                <input type="button" id="btnIntermediate" value="Mellomtid" class="btnRegular" style="width: 100px" />
            </div>
        </div>
        <div class="row">
            <div class="left">
                @if (Model.CheckpointRuntimes != null && Model.CheckpointRuntimes.ContainsKey(Model.CurrentCheckpointId))
                {
                    @Html.ListBox("listIntermediate", new SelectList(Model.CheckpointRuntimes[Model.CurrentCheckpointId], "Key", "Value"), new { @class = "listbox" })
                }
            </div>
            <div class="right">
                @Html.TextBox("tbEditHour", null, new { @class = "textboxsmall" })<input type="button"
                    id="btnUpHour" class="btnUp" value=" " /><input type="button" id="btnDownHour" class="btnDown"
                        value=" " /><span class="timer">:</span>@Html.TextBox("tbEditMin", null, new { @class = "textboxsmall" })<input
                            type="button" id="btnUpMin" class="btnUp" value=" " /><input type="button" id="btnDownMin"
                                class="btnDown" value=" " /><span class="timer">:</span>@Html.TextBox("tbEditSek", null, new { @class = "textboxsmall" })<input
                                    type="button" id="btnUpSek" class="btnUp" value=" " /><input type="button" id="btnDownSek"
                                        class="btnDown" value=" " /><span class="timer">.</span>@Html.TextBox("tbEditMSek", null, new { @class = "textboxxsmall" })<input
                                            type="button" id="btnUpMS" class="btnUp" value=" " /><input type="button" id="btnDownMS"
                                                class="btnDown" value=" " />
                <br />
                <input type="button" id="btnEdit" value="Endre" class="btnRegular" style="width: 100px"
                    disabled="disabled" />
                <input type="button" id="btnDelete" value="Slett" class="btnRegular" style="width: 100px"
                    disabled="disabled" />
            </div>
        </div>
    </div>
</div>
<div id="dialog-confirm" title="Stopp timer?" style="display: none">
    <p>
        <span class="ui-icon
ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Dette vil stoppe løpet,
        er du sikker?</p>
</div>
<div id="dialog-reset" title="Nullstill løpet?" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Dette vil nullstille løpet, er du sikker?</p>
</div>
<div id="dialog-message" title="Manglende passeringspunkt" style="display: none">
    <p>
        Dette løpet mangler passeringspunkt.
    </p>
    <p>
        Du må opprette nye passeringspunkt før du kan starte løpet.
    </p>
</div>
<input type="hidden" name="hdRaceid" id="hdRaceid"
value="@ViewBag.RaceId" />