@model ITimeU.Models.TimerModel
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Stopwatch.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Tools.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TimeFormatFactory.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TimerHandler.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var handler = new TimerHandler();
        var btnReset = $("#btnReset");
        var btnStart = $("#btnStart");
        var btnEdit = $("#btnEdit");
        var tbEditHour = $("#tbEditHour");
        var tbEditMin = $("#tbEditMin");
        var tbEditSek = $("#tbEditSek");
        var tbEditMSek = $("#tbEditMSek");
        var lblTimer = $("#lblRunningTimer");
        var btnIntermediate = $("#btnIntermediate");
        var listIntermediate = $("#listIntermediate");
        var btnDelete = $("#btnDelete");
        var ddlCheckpoints = $("#ddlCheckpoints");
        var btnUpHour = $("#btnUpHour");
        var btnUpMin = $("#btnUpMin");
        var btnUpSek = $("#btnUpSek");
        var btnUpMS = $("#btnUpMS");
        var btnDownHour = $("#btnDownHour");
        var btnDownMin = $("#btnDownMin");
        var btnDownSek = $("#btnDownSek");
        var btnDownMS = $("#btnDownMS");
        var btnCheckpoints = $(".btnCheckpoint");
        var btnChangeCP = $("#btnChangeCP");

        handler.setStartStopActions(
            btnStart,
            function () { $.get("/Timer/Start/"); }, // Start button clicked
            function () { $.get("/Timer/Stop/"); }, // Stop button clicked
            function () { $.get("/Timer/Start/"); } // Restart button clicked
        );

        handler.setIntermediateAction(
            btnIntermediate,
            listIntermediate,
            ddlCheckpoints
        );

        handler.setEditAction(
            listIntermediate,
            btnEdit,
            tbEditMin,
            tbEditHour,
            tbEditSek,
            tbEditMSek
        );

        handler.setDeleteAction(
            listIntermediate,
            btnDelete
        );

        handler.setChangeAction(
            listIntermediate,
            tbEditHour,
            tbEditMin,
            tbEditSek,
            tbEditMSek,
            btnDownHour,
            btnDownMin,
            btnDownSek,
            btnDownMS,
            btnUpHour,
            btnUpMin,
            btnUpSek,
            btnUpMS
        );

        handler.setIncrementHourAction(
            btnUpHour,
            tbEditHour
        );

        handler.setIncrementMinAction(
            btnUpMin,
            tbEditMin
        );

        handler.setIncrementSekAction(
            btnUpSek,
            tbEditSek
        );

        handler.setIncrementMSAction(
            btnUpMS,
            tbEditMSek
        );

        handler.setDecrementHourAction(
            btnDownHour,
            tbEditHour
        );

        handler.setDecrementMinAction(
            btnDownMin,
            tbEditMin
        );

        handler.setDecrementSekAction(
            btnDownSek,
            tbEditSek
        );

        handler.setDecrementMSAction(
            btnDownMS,
            tbEditMSek
        );

        handler.setChangeCheckpoint(
            btnChangeCP,
            listIntermediate,
            ddlCheckpoints
        );

        handler.showTimer(lblTimer);
    });
</script>
<div class="contentmargin">
    <div class="containter">
        <div class="row">
            <div class="left">
                <div class="editor-label" style="vertical-align: top">
                    <b>@Html.Label("lblCheckpoint", "Passeringspunkt:")</b></div>
            </div>
            <div class="row">
                <br />
                @Html.DropDownList("ddlCheckpoints", new SelectList(ViewBag.Checkpoints, "CheckpointID", "Name")) <input type="button"
                    id="btnChangeCP" class="btnGo" value=" " />
            </div>
        </div>
        <div class="row">
            <div class="left">
                <span id="lblRunningTimer" class="timer"></span>
            </div>
            <div class="right">
                <input type="button" id="btnStart" value="Start" class="btnRegular" style="width: 100px" />
                <input type="button" id="btnIntermediate" value="Mellomtid" class="btnRegular" style="width: 100px" />
            </div>
        </div>
        <div class="row">
            <div class="left">
                @Html.ListBox("listIntermediate", new SelectList(Model.CheckpointRuntimes[Model.CurrentCheckpointId], "Key", "Value"), new { @class = "listbox" })
            </div>
            <div class="right">
                @Html.TextBox("tbEditHour", null, new { @class = "textboxsmall" })<input type="button"
                    id="btnUpHour" class="btnUp" value=" " disabled="disabled" /><input type="button"
                        id="btnDownHour" class="btnDown" value=" " disabled="disabled" /><span class="timer">:</span>@Html.TextBox("tbEditMin", null, new { @class = "textboxsmall" })<input
                            type="button" id="btnUpMin" class="btnUp" value=" " disabled="disabled" /><input type="button"
                                id="btnDownMin" class="btnDown" value=" " disabled="disabled" /><span class="timer">:</span>@Html.TextBox("tbEditSek", null, new { @class = "textboxsmall" })<input
                                    type="button" id="btnUpSek" class="btnUp" value=" " disabled="disabled" /><input type="button"
                                        id="btnDownSek" class="btnDown" value=" " disabled="disabled" /><span class="timer">.</span>@Html.TextBox("tbEditMSek", null, new { @class = "textboxxsmall" })<input
                                            type="button" id="btnUpMS" class="btnUp" value=" " disabled="disabled" /><input type="button"
                                                id="btnDownMS" class="btnDown" value=" " disabled="disabled" />
                <br />
                <input type="button" id="btnEdit" value="Endre" class="btnRegular" style="width: 100px"
                    disabled="disabled" />
                <input type="button" id="btnDelete" value="Slett" class="btnRegular" style="width: 100px"
                    disabled="disabled" />
            </div>
        </div>
    </div>
</div>
