@model IEnumerable<ITimeU.Models.ResultsViewModel>
@{
    ViewBag.Title = "Speaker";
}
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Stopwatch.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Tools.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TimeFormatFactory.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        setInterval(function () {
            var hdRaceIdval = $('#hdRaceId').val();
            var updateUrl = '@Url.Action("Update", "Timer")';
            $.ajax({
                url: updateUrl,
                type: 'GET',
                data: { id: hdRaceIdval },
                cache: false,
                success: function (result) {
                    $('#someDivId').html(result);
                }
            });
        }, 5000);


        var timer;
        var btnUpdate = $("#btnUpdate");
        var btnUpdateResults = $("#btnUpdateResults");
        var timeFormatFactory = new TimeFormatFactory();
        var lblTimer = $("#lblRunningTimer");
        var url = "/Timer/GetStartruntimeForSpeaker/";
        var divNotStarted = $("#divNotStarted");
        var divStarted = $("#divStarted");
        var startedruntime;

        $.get(url, function (data) {
            startedruntime = parseInt(data, 10);
            if (startedruntime == 0) {
                divNotStarted.show();
                divStarted.hide();
            }
            else {
                divNotStarted.hide();
                divStarted.show();
            }
        });

        timer = new Stopwatch(function (runtime) {
            runtime = runtime + startedruntime;
            var displayText = timeFormatFactory.MSSDFormat(runtime);
            lblTimer.html(displayText);
        });
        timer.doDisplay();

        timer.startStop();

        btnUpdate.click(function () {
            location.reload();
        });

    });
</script>
<div class="topmenubar">
    <center>
        | @Html.ActionLink("HJEM", "Index", "Home", null, new { @class = "topmenulink" })
        | @Html.ActionLink("TILBAKE", "ComputerSetup", "StartRace", new { raceid = ViewBag.RaceId }, new { @class = "topmenulink" })
        |
    </center>
</div>
<div class="contentmargin">
    <div class="containter">
        <div class="row" id="divStarted">
            <div class="left">
                <center>
                    <span id="lblRunningTimer" class="timerbig"></span>
                    <h2>
                        Resultater</h2>
                        <div id="someDivId"></div>

                </center>
            </div>
        </div>
        <div class="row" id="divNotStarted">
            <div class="left">
                <b>Løpet har ikke startet ennå, prøv å oppdatere:</b><br />
                <br />
                <input type="button" id="btnUpdate" class="btnRegular" value="Oppdater" />
            </div>
        </div>
    </div>
    <input type="hidden" name="hdRaceId" id="hdRaceId" value="@ViewBag.RaceId" />
</div>
