@model ITimeU.Models.EventModel
@{
    ViewBag.Title = "Create";
}
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery-ui-1.8.10.custom.min.js")" type="text/javascript"></script>
<link href="/Content/jquery-ui-1.8.10.custom.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("/Scripts/date.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.maskedinput-1.2.2.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var divErrorMessage = $("#ErrorMessage");

        $('.datePicker :text').datepicker({
            buttonImage: "/Content/images/Calendar.png",
            dateFormat: 'dd.mm.yy',
            buttonImageOnly: true,
            buttonText: "Velg dato",
            showOn: "both",
            minDate: '0d'
        });
    });
</script>
<div class="topmenubar">
    <center>
        | @Html.ActionLink("HJEM", "Index", "Home", null, new { @class = "topmenulink" })
        | @Html.ActionLink("LØPSOPPSETT", "Setup", "Race", null, new { @class = "topmenulink" })
        |
    </center>
</div>
<div class="contentmargin">
    <h2>
        Opprett stevne</h2>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <span class="datePicker">
            @Html.LabelFor(model => model.EventDate)
            <br />
            @Html.EditorFor(model => model.EventDate)
        </span>

        <p>
            <input type="submit" value="Opprett" class="btnRegular" />
        </p>
    }
    @if (ViewBag.Error != null)
    {
        <p class="input-validation-error">@ViewBag.Error</p>
    }
    @if (ViewBag.Success != null)
    {
        <div class="statusmessagearea" id="StatusMessage">
            @ViewBag.Success
        </div>
    }
</div>
