@model IEnumerable<ITimeU.Models.ClubModel>           

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="topmenubar">
    <center>
        | @Html.ActionLink("HJEM", "Index", "Home", null, new { @class = "topmenulink" }) 
        @if(ViewBag.RaceId != null){
            <span>| </span>@Html.ActionLink("STARTLISTE", "AthletesForRace", "Athlete", new {raceId = ViewBag.RaceId}, new { @class = "topmenulink" })
        }
        | @Html.ActionLink("ADMIN", "Index", "Admin", null, new { @class = "topmenulink" }) 
        | 
    </center>
</div>
<div class="contentmargin">

<h2>Legg til utøver</h2>
<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.min.js")" type="text/javascript"></script> 
<script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //var btnEdit = $("#btnEdit");
        $("#btnEdit").click(function () {
            url = "/Athlete/Edit";
            $.post(url);
        });
    });
</script>

@{ Html.BeginForm("Create", "Athlete", FormMethod.Post); }
@if (ViewBag.IsAthleteCreated)
    {
        <div class="statusmessagearea" id="StatusMessage">
            Utøver har blitt lagret!
        </div>
    }
    
@if (!ViewBag.IsValidInput)
{
    <div class="errormessagearea">
        Fornavn, etternavn, e-post og startnummer kan ikke være tom. Man kan heller ikke legge inn et startnummer som allerede eksisterer i databasen.
    </div>
}

<table>
    <tr>
        <td>
<div class="editor-label">
        @Html.Label("lblFirstName", "First Name *")
    </div>

    <div class="editor-field">
        @Html.TextBox("txtFirstName", null, new { @class = "textboxRequired" })
    </div>
        </td>

        <td>
<div class="editor-label">
        @Html.Label("lblLastName", "Last Name *")
    </div>

    <div class="editor-field">
        @Html.TextBox("txtLastName", null, new { @class = "textboxRequired" })
    </div>
        </td>

        <td>
<div class="editor-label">
        @Html.Label("lblEmail", "Email *")
    </div>

    <div class="editor-field">
        @Html.TextBox("txtEmail", null, new { @class = "textboxRequired" })
    </div>
        </td>
    </tr>

    <tr>
        <td>
<div class="editor-label">
        @Html.Label("lblPostaladdress", "Postadresse")
    </div>

    <div class="editor-field">
        @Html.TextBox("txtPostalAddress", null, new { @class = "textbox" })
    </div>
        </td>

        <td>
<div class="editor-label">
        @Html.Label("lblPostalCode", "Postkode")
    </div>

    <div class="editor-field">
        @Html.TextBox("txtPostalCode", null, new { @class = "textbox" })
    </div>
        </td>

        <td>
<div class="editor-label">
        @Html.Label("lblCity", "By")
    </div>

    <div class="editor-field">
        @Html.TextBox("txtCity", null, new { @class = "textbox" })
    </div>
        </td>
    </tr>

    <tr>
        <td>
        <div class="editor-label">
                @Html.Label("lblPhoneNumber", "Telefonnummer")
            </div>

            <div class="editor-field">
                @Html.TextBox("txtPhoneNumber", null, new { @class = "textbox" })
            </div>
                </td>
        <td>
<div class="editor-label">
        @Html.Label("lblGender", "Kjønn")
    </div>
    <div class="editor-field">
        @Html.DropDownList("genderId", new SelectList(ViewBag.Gender, "Id", "Name"), new { @class = "dropdownlist" })
    </div>
        </td>

        <td>
<div class="editor-label">
        @Html.Label("lblBirthDate", "Fødselsår")
    </div>
    <div class="editor-field">
        @Html.DropDownList("birthdateId", new SelectList(ViewBag.BirthDate, "Id", "BirthYear"), new { @class = "dropdownlist" })
    </div>
        </td>
    </tr>

    <tr>
        <td>
        <div class="editor-label">
                @Html.Label("lblStartNumber", "StartNumber *")
            </div>

            <div class="editor-field">
                @Html.TextBox("txtStartNumber", null, new { @class = "textboxRequired" })
            </div>
        </td>

        <td>
<div class="editor-label">
        @Html.Label("lblClub", "Club *")
    </div>
    <div class="editor-field">
        @Html.DropDownList("clubId", new SelectList(Model, "Id", "Name"), new { @class = "dropdownlistRequired" })
    </div>
        </td>

        <td>
<div class="editor-label">
        @Html.Label("lblClass", "Klasse")
    </div>
    <div class="editor-field">
        @Html.DropDownList("classId", new SelectList(ViewBag.AthleteClass, "Id", "Name"), new { @class = "dropdownlist" })
    </div>
        </td>
    </tr>
    
    <tr>
        <td>
            <input type="submit" class="btnRegular" id="btnCreate" value="Opprett" style="width: 100px" />
        </td>     
        <td>
            @Html.ActionLink("EditAthlete", "Edit", null,new { @class = "custom" })       
        </td>
    </tr>
</table>
@{ Html.EndForm(); }
</div>